* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #FFF;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
}

header {
    text-align: center;
    background-color: #b7b7b7;
    padding: 10px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

h2 {
    text-align: left;
}

p {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

li {
    text-align: left;
    margin-left: 40px;
}

.card {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.labs button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.labs button:hover {
    background-color: #000000;
    color: white;
}

.labs a:hover {
    color: white;
}

footer {
    text-align: center;
    margin-top: 20px;
    background-color: #b7b7b7;
    padding: 10px;
    margin-bottom: 20px;
}
